@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.prose ol,
.prose ul {
  padding-left: 1.5rem;
  list-style-position: inside;
}

.prose ol {
  list-style-type: decimal;
}

.prose ul {
  list-style-type: disc;
}

/* Estilo para el bloque de código */
pre.ql-syntax {
  background-color: #1e1e1e; /* Color de fondo oscuro */
  border: 1px solid #444; /* Borde oscuro */
  border-radius: 4px; /* Bordes redondeados */
  padding: 10px; /* Relleno interno */
  overflow: auto; /* Habilita el desplazamiento */
  white-space: pre; /* Mantiene los espacios en blanco y saltos de línea */
  font-family: "Courier New", Courier, monospace; /* Fuente monoespaciada */
  font-size: 14px; /* Tamaño de fuente */
  line-height: 1.5; /* Altura de línea */
  color: #dcdcdc; /* Color del texto */
}

/* Opcional: Colores para texto específico (ejemplo) */
pre.ql-syntax .comment {
  color: #608b4e; /* Color de comentarios */
}

pre.ql-syntax .keyword {
  color: #569cd6; /* Color de palabras clave */
}

pre.ql-syntax .string {
  color: #ce9178; /* Color de cadenas */
}

/* Estilo para las citas (blockquote) */
blockquote {
  background-color: #f9f9f9; /* Color de fondo suave */
  border-left: 4px solid #ccc; /* Borde izquierdo para destacarla */
  padding: 10px 20px; /* Relleno interno */
  margin: 10px 0; /* Margen superior e inferior */
  font-style: italic; /* Cursiva para el texto de la cita */
  color: #555; /* Color del texto */
  border-radius: 4px; /* Bordes redondeados */
  line-height: 1.5; /* Altura de línea para mejorar la legibilidad */
}

/* Estilo para el texto dentro del blockquote */
blockquote p {
  margin: 0; /* Elimina el margen en el párrafo */
}

iframe.ql-video {
  display: block; /* Hace que el iframe se comporte como un bloque */
  margin: 20px auto; /* Espacio superior e inferior, y centra horizontalmente */
  width: 100%; /* Ancho completo de la pantalla */
  max-width: 500px; /* Ancho máximo */
  height: 500px; /* Altura automática para mantener proporciones */
  border: 2px solid #ccc; /* Borde alrededor del iframe */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
}

p img {
  display: block; /* Hace que la imagen se comporte como un bloque */
  margin: 20px auto; /* Espacio superior e inferior, y centra horizontalmente */
  width: 100%; /* Ancho completo del contenedor */
  max-width: 500px; /* Ancho máximo para evitar que sea demasiado grande */
  height: auto; /* Altura automática para mantener la proporción de la imagen */
  border: 2px solid #ccc; /* Borde alrededor de la imagen */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
}

.ql-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.ql-editor {
  min-height: 300px;
}
